@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="form-signin">
        <img class="login-logo mx-auto d-block mb-4" src="~/Content/img/logo.png" alt="HypeTelemetry">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <input type="checkbox" id="remember-me" value="remember-me"> <label for="remember-me">Remember me</label>
        </div>
        <input type="button" class="btn btn-sm btn-outline-dark btn-block" value="Sign in" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>
