@{
    ViewBag.Title = "Reports";
}

<div class="container mt-3">
    <h2>Reports</h2>
    <p>Type Location in the input field to search the table:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PatientID</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>1</td>
                <td>Kano</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lagos</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Abuja</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Port Harcourt</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Kano</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Lagos</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Lagos</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Lagos</td>
            </tr>
        </tbody>
    </table>
</div>