@{
    ViewBag.Title = "Report";
}

<div class="container mt-3">
    <h2>Report</h2>
    <input class="form-control float-right" id="myInput" type="text" placeholder="Search by Keywords">
    <table class="table table-striped">
        <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <!--Table Head-->
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Date
                    </th>
                    <th class="th-sm">
                        Bilirubin Level
                    </th>
                    <th class="th-sm">
                        Age (Hours)
                    </th>
                    <th class="th-sm">
                        Location
                    </th>
                </tr>
            </thead>
            <!-- Table head-->
            <tbody>
                <tr>
                    <td>103194</td>
                    <td>05/12/2019</td>
                    <td>7</td>
                    <td>40</td>
                    <td>Lagos, Nigeria</td>
                </tr>
                <tr>
                    <td>103813</td>
                    <td>05/14/2019</td>
                    <td>4</td>
                    <td>32</td>
                    <td>Abo, Nigeria</td>
                </tr>
            </tbody>
        </table>
</div>